<div class="container">
    <div class="row g-3">
        <div class="col col-23 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Emp Code</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-23 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Emp Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-23 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Designation</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-23 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Gender</label>
            <select name="" id="" class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
            </select>
        </div>
        <div class="col col-23 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Company Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-23 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Salary</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-23 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Company address</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="col col-23 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Mobile No</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-23 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Company Email</label>
            <input type="email" name="" id="" class="form-control">
        </div>
        <div class="col col-23 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Year of experience</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-23 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Blood Group</label>
            <select name="" id="" class="form-control">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="OB+">OB+</option>
            </select>
        </div>
        <div class="col col-23 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Date of birth</label>
            <input type="date" name="" id="" class="form-control">
        </div>
        <div class="col col-23 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <button class="btn btn-success">Submit</button>
        </div>
    </div>
</div>
